.itemDivClass{
    text-align: left;
    border-bottom: 2px solid black;
    padding: 1rem;
    max-width: 16rem;
}
.navButtons{
    width: 50%;
    max-width: 16rem;
    text-align: center;
    float: right;
    padding: 1rem;
}
.allItemsDiv{
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    float:left;
}
.shoppinglist{
    float: left;
}
.emaillist{
}
.alldivs{
    width: 100%;
    float: left;
}
.communistDivs{
    width: 50%;
    height: auto;
    float: left;
}

button{
    padding: 2px 20px;
    width: 175px;
    cursor: pointer;
}

h2{
    float: top;
    text-align: left;
    padding: 10px;
}

body {
    font-family: "Lato", sans-serif;
}

